/* Your CSS styles here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e2949;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-color: #f2f2f2;
    padding: 0px;
    text-align: center;
}

.hero img {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.hero-text {
    margin-top: 20px;
}

.button {
    background-color: #4972e2;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.speakers .speaker {
    text-align: center;
    margin-bottom: 20px;
    -ms-flex-item-align: auto;
    border-image-width: 0%;
    
}
    img { width: 50%; 

    }
.agenda table {
    width: 100%;
    border-collapse: collapse;
}

.agenda th, .agenda td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.agenda th {
    background-color: #f2f2f2;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.container {
    display: flex;
    /*justify-content: space-between;*/
  }
  
  